<!--<nav class="navbar navbar-expand-lg navbar-light bg-dark">-->
  <!--<a class="navbar-brand justify-content-sm-start" href="#">AKUNA</a>-->
  <!--<div class="dropdown" *ngIf="isLoggedIn()">-->
    <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
      <!--Учетная Запись-->
    <!--</button>-->
    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
      <!--<button class="dropdown-item" type="button">Настройки</button>-->
      <!--<button class="dropdown-item" type="button" (click)="logout()">Выход</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
<h1>ЗАЛУПА!</h1>
